In [59]:
import pandas as pd
df  = pd.read_csv("GlobalData.csv",delimiter='|')

print (df)

age_list = df["KEYS"].tolist()
print(age_list)

df.index= age_list

print (df)

df1  = pd.read_csv("GlobalData.csv",delimiter='|',usecols=['INT'])
df1.index=age_list


print (df1)
dit= df1.to_dict(orient='dict')
print(dit)
print(dit['INT'])

                  KEYS        INT        PF   PREPROD
0              DATASET       SET1       NaN       NaN
1      CUST_FIRST_NAME     ATCust    ATCust    ATCust
2       CUST_LAST_NAME      _SSN_     _SSN_     _SSN_
3             CUST_SSN      _SSN_     _SSN_     _SSN_
4            CUST_TYPE   personal  personal  personal
5     CUST_STREET_NAME  Test str.       NaN       NaN
6  CUST_STREET_ADDRESS          1       NaN       NaN
7     CUST_POSTAL_CODE      10005       NaN       NaN
['DATASET', 'CUST_FIRST_NAME', 'CUST_LAST_NAME', 'CUST_SSN', 'CUST_TYPE', 'CUST_STREET_NAME', 'CUST_STREET_ADDRESS', 'CUST_POSTAL_CODE']
                                    KEYS        INT        PF   PREPROD
DATASET                          DATASET       SET1       NaN       NaN
CUST_FIRST_NAME          CUST_FIRST_NAME     ATCust    ATCust    ATCust
CUST_LAST_NAME            CUST_LAST_NAME      _SSN_     _SSN_     _SSN_
CUST_SSN                        CUST_SSN      _SSN_     _SSN_     _SSN_
CUST_TYPE                      CUST_TYPE   personal  personal  personal
CUST_STREET_NAME        CUST_STREET_NAME  Test str.       NaN       NaN
CUST_STREET_ADDRESS  CUST_STREET_ADDRESS          1       NaN       NaN
CUST_POSTAL_CODE        CUST_POSTAL_CODE      10005       NaN       NaN
                           INT
DATASET                   SET1
CUST_FIRST_NAME         ATCust
CUST_LAST_NAME           _SSN_
CUST_SSN                 _SSN_
CUST_TYPE             personal
CUST_STREET_NAME     Test str.
CUST_STREET_ADDRESS          1
CUST_POSTAL_CODE         10005
{'INT': {'DATASET': 'SET1', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '_SSN_', 'CUST_SSN': '_SSN_', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005'}}
{'DATASET': 'SET1', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '_SSN_', 'CUST_SSN': '_SSN_', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005'}

In [66]:

df  = pd.read_csv("GlobalData.csv",delimiter='|')

column_list = df["KEYS"].tolist()
df.index= column_list

print(df.to_dict())

{'KEYS': {'DATASET': 'DATASET', 'CUST_FIRST_NAME': 'CUST_FIRST_NAME', 'CUST_LAST_NAME': 'CUST_LAST_NAME', 'CUST_SSN': 'CUST_SSN', 'CUST_TYPE': 'CUST_TYPE', 'CUST_STREET_NAME': 'CUST_STREET_NAME', 'CUST_STREET_ADDRESS': 'CUST_STREET_ADDRESS', 'CUST_POSTAL_CODE': 'CUST_POSTAL_CODE'}, 'INT': {'DATASET': 'SET1', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '_SSN_', 'CUST_SSN': '_SSN_', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005'}, 'PF': {'DATASET': nan, 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '_SSN_', 'CUST_SSN': '_SSN_', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': nan, 'CUST_STREET_ADDRESS': nan, 'CUST_POSTAL_CODE': nan}, 'PREPROD': {'DATASET': nan, 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '_SSN_', 'CUST_SSN': '_SSN_', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': nan, 'CUST_STREET_ADDRESS': nan, 'CUST_POSTAL_CODE': nan}}

             SET1          SET2          SET3
0    1.986122e+11  196612210002  1.988051e+11
1    1.986122e+11  196612210010  1.988051e+11
2    1.986122e+11  196612210028  1.988051e+11
3    1.986122e+11  196612210036  1.988051e+11
4    1.986122e+11  196612210044  1.988051e+11
5    1.986122e+11  196612210051  1.988051e+11
6    1.986122e+11  196612210069  1.988051e+11
7    1.986122e+11  196612210077  1.988051e+11
8    1.986122e+11  196612210085  1.988051e+11
9    1.986122e+11  196612210093  1.988051e+11
10   1.986122e+11  196612210101  1.988051e+11
11   1.986122e+11  196612210119  1.988051e+11
12   1.986122e+11  196612210127  1.988051e+11
13   1.986122e+11  196612210135  1.988051e+11
14   1.986122e+11  196612210143  1.988051e+11
15   1.986122e+11  196612210150  1.988051e+11
16   1.986122e+11  196612210168  1.988051e+11
17   1.986122e+11  196612210176  1.988051e+11
18   1.986122e+11  196612210184  1.988051e+11
19   1.986122e+11  196612210192  1.988051e+11
20   1.986122e+11  196612210200  1.988051e+11
21   1.986122e+11  196612210218  1.988051e+11
22   1.986122e+11  196612210226  1.988051e+11
23   1.986122e+11  196612210234  1.988051e+11
24   1.986122e+11  196612210242  1.988051e+11
25   1.986122e+11  196612210259  1.988051e+11
26   1.986122e+11  196612210267  1.988051e+11
27   1.986122e+11  196612210275  1.988051e+11
28   1.986122e+11  196612210283  1.988051e+11
29   1.986122e+11  196612210291  1.988051e+11
..            ...           ...           ...
970           NaN  196612219706           NaN
971           NaN  196612219714           NaN
972           NaN  196612219722           NaN
973           NaN  196612219730           NaN
974           NaN  196612219748           NaN
975           NaN  196612219755           NaN
976           NaN  196612219763           NaN
977           NaN  196612219771           NaN
978           NaN  196612219789           NaN
979           NaN  196612219797           NaN
980           NaN  196612219805           NaN
981           NaN  196612219813           NaN
982           NaN  196612219821           NaN
983           NaN  196612219839           NaN
984           NaN  196612219847           NaN
985           NaN  196612219854           NaN
986           NaN  196612219862           NaN
987           NaN  196612219870           NaN
988           NaN  196612219888           NaN
989           NaN  196612219896           NaN
990           NaN  196612219904           NaN
991           NaN  196612219912           NaN
992           NaN  196612219920           NaN
993           NaN  196612219938           NaN
994           NaN  196612219946           NaN
995           NaN  196612219953           NaN
996           NaN  196612219961           NaN
997           NaN  196612219979           NaN
998           NaN  196612219987           NaN
999           NaN  196612219995           NaN

[1000 rows x 3 columns]
999   NaN
Name: SET1, dtype: float64

In [118]:
import pandas as pd
import re
column_name= "SET3"
df  = pd.read_csv("SSN.CSV",delimiter='|')
df_read = df[df[column_name].notnull()]
value = str(df_read.loc[df_read.shape[0]-1,column_name])
print (re.sub("\..*", "", value,re.I))

df.loc[df_read.shape[0]-1,column_name] = ''
print(df.loc[df_read.shape[0]-1,column_name])
df.to_csv("SSN.CSV", index=False, encoding='utf8',sep='|')

198805054445

In [54]:
import re
print (re.sub("\..*", "", "198612225972.0"))

198612225972

In [41]:
import pandas as pd
df  = pd.read_csv("SSN1.csv",delimiter='|')
df_read = df[df['SET1'].notnull()]
print(df_read.loc[df_read.shape[0]-1,"SET1"])

198612226012.0

In [99]:
import re
text = '$SSN$'
pattern = re.compile(r'\$.*\$',re.I)
matches = pattern.finditer(text)
for match in matches:
    print(match)
print(text[0:5])

<_sre.SRE_Match object; span=(0, 5), match='$SSN$'>
$SSN$

In [96]:
import re
text = '[%CUST_LAST_NAME%]'
pattern = re.compile(r'\[.*\]',re.I)
matches = pattern.finditer(text)
for match in matches:
    print(match)
print(text[0:5])

<_sre.SRE_Match object; span=(0, 18), match='[%CUST_LAST_NAME%]'>
[%CUS

In [117]:
import re
text = '[%CUST_FIRST_NAME%,+,%CUST_LAST_NAME%]'
pattern = re.compile(r'\%.*%',re.I)
matches = pattern.finditer(text)
for match in matches:
    print(match)
    print(text[match.span()[0]+1:match.span()[1]-1])

<_sre.SRE_Match object; span=(1, 37), match='%CUST_FIRST_NAME%,+,%CUST_LAST_NAME%'>
CUST_FIRST_NAME%,+,%CUST_LAST_NAME

In [52]:
import re
import datetime
from dateutil.relativedelta import relativedelta

text = '[%CUST_FIRST_NAME%,concat,%CUST_LAST_NAME%]'
text = '[10,+,-4 ]'
text = '[%CUST_FIRST_NAME%]'
text = '[Today,date,-1,d]'
text = text.strip()
if text.startswith(r'[') and text.endswith(r']'):
    text = text[1:-1]
    values = text.split(sep=',') 
    
    for i,item in enumerate(values):
        values[i] = item.strip()
        if values[i].startswith(r'%') and values[i].endswith(r'%'):
            values[i] = item[1:-1]
    if (len(values)>1):
        if values[1].lower() == '+':
            cell_value =int(values[0])+ int(values[2])
        elif values[1].lower() == '-':
            cell_value =int(values[0]) - int(values[2])
        elif values[1].lower() == 'concat':
            cell_value =values[0]+' '+values[2]
        elif values[1].lower() == 'date':
            cell_value = datetime.datetime.today() if values[0].lower() == 'today' else parse(values[0])
            cell_value = add_date(cell_value,int(values[2]),values[3])
            cell_value = cell_value.date().strftime('%Y-%m-%d')
        elif values[1].lower() == 'datetime':
            cell_value = datetime.datetime.today() if values[0].lower() == 'today' else parse(values[0])
            cell_value = add_date(cell_value,int(values[2]),values[3])
            cell_value = cell_value.strftime('%Y-%m-%d %H:%M:%S')
        else:
            pass
    else:
        cell_value =values[0]
elif  text.startswith(r'$') and text.endswith(r'$'):
    pass
else:
    pass
    
    

def add_date(day,num,interval):
    added_date= day
    if(interval=='d' or interval== 'days'):
        added_date = day + relativedelta(days=+num)
    elif(interval=='m' or interval== 'months'):
        added_date = day + relativedelta(months=+num)
    elif(interval=='y' or interval== 'years'):
        added_date = day + relativedelta(years=+num)
    elif(interval=='hh' or interval== 'hours'):
        added_date = day + relativedelta(days=+num)
    elif(interval=='mm' or interval== 'minutes'):
        added_date = day + relativedelta(days=+num)
    elif(interval=='ss' or interval== 'seconds'):
        added_date = day + relativedelta(seconds=+num)
    else:
        pass
    return added_date
            
print(cell_value)

2018-12-27

In [21]:
print ( int('-10')+int('4'))

-6

In [17]:
user_input = input ("Enter  your Age")
try:
   val = int(user_input)
   print("Yes input string is an Integer.")
   print("Input number value is: ", val)
except ValueError:
   print("That's not an int!")
   print("No.. input string is not an Integer. It's a string")

Enter  your Age-19
Yes input string is an Integer.
Input number value is:  -19

In [18]:
user_number  = input("Enter your number")
if( user_number.isdigit()):
    print("User input is Number ")
else:
    print("User input is string ")

Enter your number-12
User input is string

In [36]:
values = "test".split(sep=',')
print(len(values))

1

In [7]:
import datetime
today = date.today()

print(today + relativedelta(days=+1))

NameError: name 'date' is not defined

In [8]:
import datetime
from dateutil.relativedelta import relativedelta
 
add_days = datetime.datetime.today() + relativedelta(days=+6)
add_months = datetime.datetime.today() + relativedelta(months=+6)
add_years = datetime.datetime.today() + relativedelta(years=+6)
 
add_hours = datetime.datetime.today() + relativedelta(hours=+6)
add_mins = datetime.datetime.today() + relativedelta(minutes=+6)
add_seconds = datetime.datetime.today() + relativedelta(seconds=+6)
 
print("Current Date Time:", datetime.datetime.today())
print("Add 6 days:", add_days)
print("Add 6 months:", add_months)
print("Add 6 years:", add_years)
print("Add 6 hours:", add_hours)
print("Add 6 mins:", add_mins)
print("Add 6 seconds:", add_seconds)

Current Date Time: 2018-12-28 09:42:52.573132
Add 6 days: 2019-01-03 09:42:52.573132
Add 6 months: 2019-06-28 09:42:52.573132
Add 6 years: 2024-12-28 09:42:52.573132
Add 6 hours: 2018-12-28 15:42:52.573132
Add 6 mins: 2018-12-28 09:48:52.573132
Add 6 seconds: 2018-12-28 09:42:58.573132

In [30]:
import datetime
from dateutil.relativedelta import relativedelta

def add_date(day,num,interval):
    added_date= day
    if(interval=='d' or interval== 'days'):
        added_date = day + relativedelta(days=+num)
    elif(interval=='m' or interval== 'months'):
        added_date = day + relativedelta(months=+num)
    elif(interval=='y' or interval== 'years'):
        added_date = day + relativedelta(years=+num)
    elif(interval=='hh' or interval== 'hours'):
        added_date = day + relativedelta(days=+num)
    elif(interval=='mm' or interval== 'minutes'):
        added_date = day + relativedelta(days=+num)
    elif(interval=='ss' or interval== 'seconds'):
        added_date = day + relativedelta(seconds=+num)
    else:
        pass
    return added_date

# def convert_to_date(date_string):
#     if ('-'in date_string):
#         if (len(date_string)>8):
#             d = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
#         else:
#             datetime.datetime.strptime(date_time_str, '%Y-%m-%d')


print(add_date(datetime.datetime.today(),-1,'y'))

2017-12-28 10:36:12.331689

In [39]:
str1 = "2017-12-28"
print('-' in str1)
print(len('1-1-2019'))

True
8

In [41]:

date_time_str = '2018-06-29 08:15:27'  
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
print('Date-time:', date_time_obj)  

date_time_str = '2018-6-29'  
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d') 
print('Date-time:', date_time_obj)

date_time_str = '2018/6/29'  
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y/%m/%d') 
print('Date-time:', date_time_obj)

Date-time: 2018-06-29 08:15:27
Date-time: 2018-06-29 00:00:00
Date-time: 2018-06-29 00:00:00

In [23]:

date_time_str = '2018 06 29 08:15:27'  
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y %m %d %H:%M:%S')

print('Date:', date_time_obj.date())  
print('Time:', date_time_obj.time())  
print('Date-time:', date_time_obj)

Date: 2018-06-29
Time: 08:15:27
Date-time: 2018-06-29 08:15:27

In [29]:
from dateutil.parser import parse

date_array = [  
    '2018-06-29 08:15:27.243860',
    'Jun 28 2018  7:40AM',
    'Jun 28 2018 at 7:40AM',
    'September 18, 2017, 22:19:55',
    'Sun, 05/12/1999, 12:30PM',
    'Mon, 21 March, 2015',
    '2018-03-12T10:12:45Z',
    '2018-06-29 17:08:00.586525+00:00',
    '2018-06-29 17:08:00.586525+05:00',
    'Tuesday , 6th September, 2017 at 4:30pm'
]

for date in date_array:  
    print('Parsing: ' + date)
    dt = parse(date)
    print(dt.date())
    print(dt.time())
    print(dt.tzinfo)
    print('\n')

Parsing: 2018-06-29 08:15:27.243860
2018-06-29
08:15:27.243860
None


Parsing: Jun 28 2018  7:40AM
2018-06-28
07:40:00
None


Parsing: Jun 28 2018 at 7:40AM
2018-06-28
07:40:00
None


Parsing: September 18, 2017, 22:19:55
2017-09-18
22:19:55
None


Parsing: Sun, 05/12/1999, 12:30PM
1999-05-12
12:30:00
None


Parsing: Mon, 21 March, 2015
2015-03-21
00:00:00
None


Parsing: 2018-03-12T10:12:45Z
2018-03-12
10:12:45
tzutc()


Parsing: 2018-06-29 17:08:00.586525+00:00
2018-06-29
17:08:00.586525
tzutc()


Parsing: 2018-06-29 17:08:00.586525+05:00
2018-06-29
17:08:00.586525
tzoffset(None, 18000)


Parsing: Tuesday , 6th September, 2017 at 4:30pm05/12/1999, 12:30:11PM

ValueError: ('Unknown string format:', 'Tuesday , 6th September, 2017 at 4:30pm05/12/1999, 12:30:11PM')

In [59]:
print ('your string'.encode('base64'))

LookupError: 'base64' is not a text encoding; use codecs.encode() to handle arbitrary codecs

In [2]:
import pandas as pd
data = {'KEYS': {'CUSTOMER_ID': 'CUSTOMER_ID', 'DATE': 'DATE', 'FUTURE_DATE': 'FUTURE_DATE', 'CONTRACT_DATE': 'CONTRACT_DATE'}, 'ITR1': {'CUSTOMER_ID': '', 'DATE': '[today,date,1,d]', 'FUTURE_DATE': '', 'CONTRACT_DATE': ''}, 'ITR2': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR1', 'FUTURE_DATE': '[today,date,1,y]', 'CONTRACT_DATE': ''}, 'ITR3': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR2', 'FUTURE_DATE': '', 'CONTRACT_DATE': '[%DATE%,datetime,1,y]'}}
#test_dictionary =	{'KEYS': {'CUSTOMER_ID': 'CUSTOMER_ID', 'DATE': 'DATE', 'FUTURE_DATE': 'FUTURE_DATE', 'CONTRACT_DATE': 'CONTRACT_DATE'}, 'ITR1': {'CUSTOMER_ID': '', 'DATE': '2019-01-01', 'FUTURE_DATE': '', 'CONTRACT_DATE': '', 'DATASET': 'SET1', 'CUST_SSN': '198612225766', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '198612225766', 'CUST_FULL_NAME': 'ATCust 198612225766', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005', 'TODAY': '$today$'}, 'ITR2': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR1', 'FUTURE_DATE': '[today,date,1,y]', 'CONTRACT_DATE': ''}, 'ITR3': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR2', 'FUTURE_DATE': '', 'CONTRACT_DATE': '[%DATE%,datetime,1,y]'}}
#gobal_dictionary = {'DATASET': 'SET1', 'CUST_SSN': '198612225741', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '198612225741', 'CUST_FULL_NAME': 'ATCust 198612225741', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005', 'TODAY': '$today$'}


for iteration in list(test_dictionary.keys()):
    for key in list(test_dictionary[iteration].keys()):
        if key in list(gobal_dictionary.keys()):
            pass
        else:
            test_dictionary[iteration][key] = ''



column_list = test_dictionary['KEYS'].keys()
df = pd.DataFrame.from_dict(test_dictionary)
df.index = column_list
df.drop(columns=['KEYS'])
print(df)
columns_header = list (test_dictionary.keys())
columns_header.remove('KEYS')
print(columns_header)
df.to_csv(path_or_buf='Data.csv',sep='|',index=True, columns = columns_header )

ValueError: Length mismatch: Expected axis has 14 elements, new values have 4 elements

In [12]:
    df = pd.read_csv("GlobalData.csv", delimiter='|', keep_default_na=False)
    print(df)
    column_list = df["KEYS"].tolist()
    df.index = column_list
    print(df)

                  KEYS        INT        PF   PREPROD
0              DATASET       SET1
1      CUST_FIRST_NAME     ATCust    ATCust    ATCust
2       CUST_LAST_NAME      _SSN_     _SSN_     _SSN_
3             CUST_SSN      _SSN_     _SSN_     _SSN_
4            CUST_TYPE   personal  personal  personal
5     CUST_STREET_NAME  Test str.
6  CUST_STREET_ADDRESS          1
7     CUST_POSTAL_CODE      10005
                                    KEYS        INT        PF   PREPROD
DATASET                          DATASET       SET1
CUST_FIRST_NAME          CUST_FIRST_NAME     ATCust    ATCust    ATCust
CUST_LAST_NAME            CUST_LAST_NAME      _SSN_     _SSN_     _SSN_
CUST_SSN                        CUST_SSN      _SSN_     _SSN_     _SSN_
CUST_TYPE                      CUST_TYPE   personal  personal  personal
CUST_STREET_NAME        CUST_STREET_NAME  Test str.
CUST_STREET_ADDRESS  CUST_STREET_ADDRESS          1
CUST_POSTAL_CODE        CUST_POSTAL_CODE      10005

In [56]:
test_dictionary =	{'KEYS': {'CUSTOMER_ID': 'CUSTOMER_ID', 'DATE': 'DATE', 'FUTURE_DATE': 'FUTURE_DATE', 'CONTRACT_DATE': 'CONTRACT_DATE'}, 'ITR1': {'CUSTOMER_ID': '', 'DATE': '2019-01-01', 'FUTURE_DATE': '', 'CONTRACT_DATE': '', 'DATASET': 'SET1', 'CUST_SSN': '198612225766', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '198612225766', 'CUST_FULL_NAME': 'ATCust 198612225766', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005', 'TODAY': '$today$'}, 'ITR2': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR1', 'FUTURE_DATE': '[today,date,1,y]', 'CONTRACT_DATE': ''}, 'ITR3': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR2', 'FUTURE_DATE': '', 'CONTRACT_DATE': '[%DATE%,datetime,1,y]'}}
gobal_dictionary = {'DATASET': 'SET1', 'CUST_SSN': '198612225741', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '198612225741', 'CUST_FULL_NAME': 'ATCust 198612225741', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005', 'TODAY': '$today$'}


for iteration in list(test_dictionary.keys()):
    for key in list(gobal_dictionary.keys()):
        if key in list(test_dictionary[iteration].keys()):
            pass
        else:
            if iteration == 'KEYS':
                test_dictionary[iteration][key] = key
            else:
                test_dictionary[iteration][key] = ''
print(test_dictionary)

{'KEYS': {'CUSTOMER_ID': 'CUSTOMER_ID', 'DATE': 'DATE', 'FUTURE_DATE': 'FUTURE_DATE', 'CONTRACT_DATE': 'CONTRACT_DATE', 'DATASET': 'DATASET', 'CUST_SSN': 'CUST_SSN', 'CUST_FIRST_NAME': 'CUST_FIRST_NAME', 'CUST_LAST_NAME': 'CUST_LAST_NAME', 'CUST_FULL_NAME': 'CUST_FULL_NAME', 'CUST_TYPE': 'CUST_TYPE', 'CUST_STREET_NAME': 'CUST_STREET_NAME', 'CUST_STREET_ADDRESS': 'CUST_STREET_ADDRESS', 'CUST_POSTAL_CODE': 'CUST_POSTAL_CODE', 'TODAY': 'TODAY'}, 'ITR1': {'CUSTOMER_ID': '', 'DATE': '2019-01-01', 'FUTURE_DATE': '', 'CONTRACT_DATE': '', 'DATASET': 'SET1', 'CUST_SSN': '198612225766', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '198612225766', 'CUST_FULL_NAME': 'ATCust 198612225766', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005', 'TODAY': '$today$'}, 'ITR2': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR1', 'FUTURE_DATE': '[today,date,1,y]', 'CONTRACT_DATE': '', 'DATASET': '', 'CUST_SSN': '', 'CUST_FIRST_NAME': '', 'CUST_LAST_NAME': '', 'CUST_FULL_NAME': '', 'CUST_TYPE': '', 'CUST_STREET_NAME': '', 'CUST_STREET_ADDRESS': '', 'CUST_POSTAL_CODE': '', 'TODAY': ''}, 'ITR3': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR2', 'FUTURE_DATE': '', 'CONTRACT_DATE': '[%DATE%,datetime,1,y]', 'DATASET': '', 'CUST_SSN': '', 'CUST_FIRST_NAME': '', 'CUST_LAST_NAME': '', 'CUST_FULL_NAME': '', 'CUST_TYPE': '', 'CUST_STREET_NAME': '', 'CUST_STREET_ADDRESS': '', 'CUST_POSTAL_CODE': '', 'TODAY': ''}}

In [7]:
gobal_dictionary = {'DATASET': 'ITR', 'CUST_SSN': '198612225741', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '198612225741', 'CUST_FULL_NAME': 'ATCust 198612225741', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005', 'TODAY': '$today$'}


values = ['adb  ','itr1  ','  itr4','it3r','ITR6'] 
for i, item in enumerate(values):
    values[i] = item.strip()
    print(values[i][0:3].upper())
    if item[0:3].upper() == "ITR":
        values[i] = "data_dictionary[values[i]][key]"
    else:
        pass

ADB
ITR
ITR
IT3
ITR

In [22]:
import pandas as pd
dictdata = {'KEYS': {'CUSTOMER_ID': 'CUSTOMER_ID', 'DATASET': 'DATASET', 'CUST_SSN': 'CUST_SSN', 'CUST_FIRST_NAME': 'CUST_FIRST_NAME', 'CUST_LAST_NAME': 'CUST_LAST_NAME', 'CUST_FULL_NAME': 'CUST_FULL_NAME', 'CUST_TYPE': 'CUST_TYPE', 'CUST_STREET_NAME': 'CUST_STREET_NAME', 'CUST_STREET_NUMBER': 'CUST_STREET_NUMBER', 'CUST_FLAT_NUMBER': 'CUST_FLAT_NUMBER', 'CUST_FLOOR_NUMBER': 'CUST_FLOOR_NUMBER', 'CUST_POSTAL_CODE': 'CUST_POSTAL_CODE', 'CUST_COUNTRY': 'CUST_COUNTRY', 'CUST_EMAIL': 'CUST_EMAIL', 'CUST_PHONE': 'CUST_PHONE', 'TODAY': 'TODAY', 'A': 'A', 'B': 'B'}, 'ITR1': {'CUSTOMER_ID': '', 'DATASET': 'SET1', 'CUST_SSN': '198612224942', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '198612224942', 'CUST_FULL_NAME': 'ATCust 198612224942', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_NUMBER': '1', 'CUST_FLAT_NUMBER': '4', 'CUST_FLOOR_NUMBER': '', 'CUST_POSTAL_CODE': '10005', 'CUST_COUNTRY': 'SVERIGE', 'CUST_EMAIL': 'niket.shinde@tieto.com', 'CUST_PHONE': '12345778', 'TODAY': '2019-01-09', 'A': 'value of B', 'B': 'value of B'}, 'ITR2': {'CUSTOMER_ID': 'ITR1', 'DATASET': '', 'CUST_SSN': '', 'CUST_FIRST_NAME': '', 'CUST_LAST_NAME': '', 'CUST_FULL_NAME': '', 'CUST_TYPE': '', 'CUST_STREET_NAME': '', 'CUST_STREET_NUMBER': '', 'CUST_FLAT_NUMBER': '', 'CUST_FLOOR_NUMBER': '', 'CUST_POSTAL_CODE': '', 'CUST_COUNTRY': '', 'CUST_EMAIL': '', 'CUST_PHONE': '', 'TODAY': '', 'A': '', 'B': ''}, 'ITR3': {'CUSTOMER_ID': 'ITR1', 'DATASET': '', 'CUST_SSN': '', 'CUST_FIRST_NAME': '', 'CUST_LAST_NAME': '', 'CUST_FULL_NAME': '', 'CUST_TYPE': '', 'CUST_STREET_NAME': '', 'CUST_STREET_NUMBER': '', 'CUST_FLAT_NUMBER': '', 'CUST_FLOOR_NUMBER': '', 'CUST_POSTAL_CODE': '', 'CUST_COUNTRY': '', 'CUST_EMAIL': '', 'CUST_PHONE': '', 'TODAY': '', 'A': '', 'B': ''}}
#test_dictionary =	{'KEYS': {'CUSTOMER_ID': 'CUSTOMER_ID', 'DATE': 'DATE', 'FUTURE_DATE': 'FUTURE_DATE', 'CONTRACT_DATE': 'CONTRACT_DATE'}, 'ITR1': {'CUSTOMER_ID': '', 'DATE': '2019-01-01', 'FUTURE_DATE': '', 'CONTRACT_DATE': '', 'DATASET': 'SET1', 'CUST_SSN': '198612225766', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '198612225766', 'CUST_FULL_NAME': 'ATCust 198612225766', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005', 'TODAY': '$today$'}, 'ITR2': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR1', 'FUTURE_DATE': '[today,date,1,y]', 'CONTRACT_DATE': ''}, 'ITR3': {'CUSTOMER_ID': 'ITR1', 'DATE': 'ITR2', 'FUTURE_DATE': '', 'CONTRACT_DATE': '[%DATE%,datetime,1,y]'}}
#gobal_dictionary = {'DATASET': 'SET1', 'CUST_SSN': '198612225741', 'CUST_FIRST_NAME': 'ATCust', 'CUST_LAST_NAME': '198612225741', 'CUST_FULL_NAME': 'ATCust 198612225741', 'CUST_TYPE': 'personal', 'CUST_STREET_NAME': 'Test str.', 'CUST_STREET_ADDRESS': '1', 'CUST_POSTAL_CODE': '10005', 'TODAY': '$today$'}

file_path= 'GlobalData'
csv_file_delimiter ="|"
    
column_list = dictdata['KEYS'].keys()
#print (dictdata.pop('KEYS'))
df = pd.DataFrame.from_dict(dictdata,orient='columns')
print(column_list)
df.index = column_list
#df.drop(columns=['KEYS'])
print(df)
columns_header = list(dictdata.keys())
#columns_header.remove('KEYS')
print(columns_header)
df.to_csv(path_or_buf=file_path+'.csv', sep=csv_file_delimiter, index=False, columns=columns_header, index_label=None)

dict_keys(['CUSTOMER_ID', 'DATASET', 'CUST_SSN', 'CUST_FIRST_NAME', 'CUST_LAST_NAME', 'CUST_FULL_NAME', 'CUST_TYPE', 'CUST_STREET_NAME', 'CUST_STREET_NUMBER', 'CUST_FLAT_NUMBER', 'CUST_FLOOR_NUMBER', 'CUST_POSTAL_CODE', 'CUST_COUNTRY', 'CUST_EMAIL', 'CUST_PHONE', 'TODAY', 'A', 'B'])
                                  KEYS                    ITR1  ITR2  ITR3
CUSTOMER_ID                          A              value of B
DATASET                              B              value of B
CUST_SSN                   CUSTOMER_ID                          ITR1  ITR1
CUST_FIRST_NAME           CUST_COUNTRY                 SVERIGE
CUST_LAST_NAME              CUST_EMAIL  niket.shinde@tieto.com
CUST_FULL_NAME         CUST_FIRST_NAME                  ATCust
CUST_TYPE             CUST_FLAT_NUMBER                       4
CUST_STREET_NAME     CUST_FLOOR_NUMBER
CUST_STREET_NUMBER      CUST_FULL_NAME     ATCust 198612224942
CUST_FLAT_NUMBER        CUST_LAST_NAME            198612224942
CUST_FLOOR_NUMBER           CUST_PHONE                12345778
CUST_POSTAL_CODE      CUST_POSTAL_CODE                   10005
CUST_COUNTRY                  CUST_SSN            198612224942
CUST_EMAIL            CUST_STREET_NAME               Test str.
CUST_PHONE          CUST_STREET_NUMBER                       1
TODAY                        CUST_TYPE                personal
A                              DATASET                    SET1
B                                TODAY              2019-01-09
['KEYS', 'ITR1', 'ITR2', 'ITR3']